<div class="row">
   <div class="col-lg-3">
      
       <h3>Tabelas</h3>       
       <a  (click)="toogleForm()" class="btn btn-primary my-3"> 
         <i class="fa fa-plus"></i>
       </a>
         <div *ngIf="formTable">
            <cp-table-form  (tablechange)="save($event)"></cp-table-form>
         </div>

       <div class="list-group">
          <button type="button" (click)="selTable(ct)" *ngFor="let ct of atable">{{ct.nameTable}}</button>
       </div>
       


      
    </div>    
    <div class="col-lg-9" *ngIf="selectTable">
       <cp-line-table  [contract]="keycontract" [table]="selectTable" ></cp-line-table>
    
    
    </div>     
 </div>