<div class="row">
        <div class="col-md-8 col-md-offset-2">

          <h1 class="text-center text-danger display-1">Portaria</h1>
          <h3 class="text-center text-danger">{{time}}</h3>


          <form class="text-left">
            <div class="form-group py-3 text-info text-center">
              <h2 class="text-primary text-left">Placa</h2>
              <input type="text" class="form-control form-control-lg" placeholder="Placa">
            </div>
            <div class="form-group text-info text-center">
              <h2 class="text-primary text-left">Contrato</h2>
              <select class="form-control form-control-lg">
                <option value="">SELECIONE UM ITEM</option>
                <option value="2">SANTA CASA DE MISERICORDIA</option>
                <option value="3">ESPACO EDUCAR</option>
              </select>
            </div>
            <a href="#" class="btn btn-primary btn-block btn-lg"><i class="fa fa-sign-in fa-3x"></i> Entrada</a>
            <a href="#" class="btn btn-primary btn-block btn-lg"><i class="fa fa-3x fa-sign-out"></i> Saída</a>

          </form>
        </div>

      </div>