
<div class="alert alert-danger" *ngIf="!ctDao.isChosenCompany()">
    Deve selecionar um Estabelecimento
</div>    
<div *ngIf="ctDao.isChosenCompany()">
<div class="row">
        <div class="col-lg-12">
            <div class="page-header">
               <h1>Contratos</h1>
            </div>  
           <button  class="btn btn-primary" (click)="toogleForm()">
                       <i class="fa fa-plus-square"></i> 
            </button>

        </div>
 </div>
 <div class="row" *ngIf="openForm">
     <div class="col-lg-8 col-lg-offset-2"> 
         <cp-contract-form [changeContract]="selectCt" (contractchange)="save($event)" (contractcancel)="toogleForm()" ></cp-contract-form>
     </div>
     <div class="alert alert-danger" [hidden]="erro==''">{{erro}}</div>
 </div>
 <div class="row">
    <div class="col-lg-12">
       <div class="card card-block">
           <h4>Contratos Cadastrados</h4>
           <ngb-accordion [closeOthers]="true" activeIds="1"> 
              <ngb-panel id="{{i+1}}" *ngFor="let ct of lct;let i = index;">      
                  <template ngbPanelTitle> 
                      <span>{{ct.description}}</span>
                      <div class="text-right">
                        <button type="button" class="btn btn-primary btn-sm" (click)="change(ct)">Alterar</button>
                        <button type="button" class="btn btn-danger  btn-sm" (click)="del(ct.$key)">Excluir</button>                
                      </div>
                  </template>
                  <template ngbPanelContent> 
                       <cp-table [contract]="ct.id"></cp-table>

                  </template>

              </ngb-panel>
           </ngb-accordion>


           <!-- <table class="table table-striped table-bordered table-hover">
             <thead class="thead-inverse">
                <tr>  
                  <th><a href="javascript:;" (click)="sort(1)">Nome</a></th>
                  <th width="15%">Ação</th> 
                </tr>
             </thead>
             <tbody>
             <tr *ngFor="let ct of lct" scope="row">
                <td>{{ct.description}}</td>             
                <td><button type="button" class="btn btn-primary btn-sm" (click)="change(ct)">Alterar</button>
                      <button type="button" class="btn btn-danger  btn-sm" (click)="del(ct.$key)">Excluir</button>                </td>    
             </tr>
             </tbody>
              </table> -->
       </div>
    </div>
 </div>
</div> 